body {
    font-family: Arial;
    background: #f4f6f8;
}

.container {
    width: 700px;
    margin: auto;
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px;
}

textarea {
    width: 400px;
    height: 100px;
}